doctype 5
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h1 Hello!
		nav 
			ul
				li
					a(href="./") Me!
				li
					a(href="projects") Projects!
				li
					a(href="cv") CV!
		block content